@charset "utf-8";
/* CSS Document */
#aptop{ width:100%; height:80px; margin-top:80px; text-align:center;}
#aptop span{ font-family:"宋体"; color:#0b579f; font-size:26px; line-height:80px;}
#apbottom{ width:100%; height:330px; margin-top:30px;}
#apbottom form{ width:400px; height:330px; margin-left:34%;}
#apbottom span{ width:100px; height:40px; line-height:40px; display:inline-block; font-family:"宋体"; font-size:20px; color:#666; text-align:right; margin-right:50px;}
#apbottom input{ width:200px; height:30px; border:1px solid #CCC; display:inline-block;}
form input[readonly]{ color:#666;}
