@charset "utf-8";
/* CSS Document */
#metop{ font-family:"宋体"; color:#0b579f; font-size:26px; text-align:center;}
#medetail{ width:800px; height:450px; text-align:left; padding-left:20px;}
#medetail span{ text-align:left; line-height:60px; font-size:22px; font-family:"宋体"; color:#333;}
#medetail label{ line-height:40px; font-family:"宋体"; font-size:20px; color:#666;}
#medetail input[name]{ width:400px; border:0; text-align:left; font-family:"宋体"; font-size:20px; color:#666;}
#medetail textarea{ overflow:auto; width:600px; height:100px; font-family:"宋体"; font-size:20px; color:#666; border:none;}

.btn{display: inline-block; padding: 5px 10px; font-size: 14px; color: #FFF; border: 2px solid #4d92d9; background-color: #4d92d9; text-decoration: none; transition: 0.4s;}
.btn:hover{background-color: transparent; color: #4d92d9; transition: 0.4s;}

