@charset "utf-8";
/* CSS Document */
*{ margin: 0; padding: 0;} ul { padding: 0; margin: 0; } li { list-style: none; border:none; } img { border: 0; } a{ text-decoration:none; }
body{ margin:0; padding:0; text-align:center; border:none; font-size:12px;}

#top{ width:100%; min-height:60px; background-color:#FFF; border-bottom:2px solid #CCC; position:fixed; z-index:1000;}
#top a{ color:#666;}
#top img{ float:left; margin-left:5%;}
#top span{ float:right; line-height:60px; margin-right:5%; font-family:"宋体"; font-size:16px; color:#666;}

#bottom{ background-color:#0b579f; color:#FFF; width:100%; min-height:100px;}
#bottom a{ color:#FFF;}

.btn{display: inline-block; padding: 5px 10px; font-size: 14px; color: #FFF; border: 2px solid #4d92d9; background-color: #4d92d9; text-decoration: none; transition: 0.4s;}
.btn:hover{background-color: transparent; color: #4d92d9; transition: 0.4s;}

#login{ width:380px; height:260px; position:fixed; top:30%; left:35%; background-color:#FFF; border-radius:8px; z-index:8; font-family:"宋体,Simsun"; display:none;}
#hbg {width:100%; position:absolute; background:#000; z-index:7; top:0; left:0; height:2000px; filter:alpha(opacity:60);opacity:0.6; display:none; }
.clear{ position:absolute; right:2px; top:2px; font-size:20px; font-family:"宋体"; color:#666; cursor:pointer; z-index:200;}
.title{ text-align:center; font-size:24px; font-family:"宋体"; color:#000; font-weight:400; width:380px; margin-top:20px; margin-bottom:30px;}
.user{ font-family:"宋体"; font-size:18px; color:#666; display:inline-block; width:100px; margin-left:5px; text-align:right; margin-right:20px;}
#login input{ width:180px; height:25px; text-align:center;}
.must{ font-size:20px; color:#F00;}

#reg{ width:380px; height:350px; position:fixed; top:30%; left:35%; background-color:#FFF; border-radius:8px; z-index:8; font-family:"宋体,Simsun"; display:none;}
#reg input{ width:180px; height:25px; text-align:center;}

#behouser{ width:380px; height:200px; position:fixed; top:30%; left:35%; background-color:#FFF; border-radius:8px; z-index:8; font-family:"宋体,Simsun"; display:none;}
#behouser span{ font-family:"宋体"; font-size:18px; color:#666; display:inline-block; width:360px; margin-left:80px; text-align:left; margin-right:10px;}






